@font-face {
  font-family: 'Boska-Italic';
  src: url('fontes/Boska-Italic.woff2') format('woff2'),
       url('fontes/Boska-Italic.woff') format('woff'),
       url('fontes/Boska-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Boska-Italic';
  background-color: #0a0a0a;
  background-image: url('fundo-floral.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #0a0a0a;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  font-size: 20pt;
  /*text-shadow: 0 0 4px #000;*/
}

h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
  line-height: 1.2em;
}

label {
  display: block;
  text-align: left;
  font-size: 1em;
  margin: 10px 0 5px;
  display: flex;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #0a0a0a;
  background-color: #e8f0fe;
  color: #0a0a0a;
  border-radius: 5px;
  font-family: 'Boska-Italic';
  font-size: 18pt;
  border-color: #fff;
  transition: border-color .4s;
}

input:focus {
  outline: none;
  border-color: #000;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: #0a0a0a;
}

.info-item {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-item hr {
  border: none;
  border-top: 1px solid #0a0a0a;
  margin: 4px 10px;
}

.local {
  font-size: 1.2em;
  margin-bottom: 30px;
}

button {
  padding: 12px 32px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid #aaa;
  border-radius: 8px;
  color: #0a0a0a;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Boska-Italic';
  transition: background 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.titulo {
  font-size: 70px;
  margin-bottom: 40px ;
}

.container_obrigado {
  min-height: 100vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  
}

body, html {
  height: 100%;
  font-family: 'Boska-Italic';
  background-color: #f7f7f7; /* ou a imagem de fundo floral que você estiver usando */
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*height: 100vh;
  padding-top: 120px;*/
}

.pergunta {
  font-size: 20pt;
  margin-bottom: 20px;
  color: #333;
  font-style: italic;
  display: flex;
  align-items: flex-start;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.opcoes label {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.sim, .nao {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sim {
  justify-content: flex-start;
}

.nao {
  justify-content: flex-end;
}


.opcoes-linha {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 10px 0 30px;
}

.opcoes-linha label {
  font-size: 22pt;
  color: #0a0a0a;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  flex: 1;
}

.pergunta {
  font-size: 22pt;
  margin: 20px 0 10px;
  color: #0a0a0a;
  font-style: italic;
  display: block;
  text-align: left;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #0a0a0a;
  background-color: #e8f0fe;
  color: #0a0a0a;
  border-radius: 5px;
  font-family: 'Boska-Italic';
  font-size: 18pt;
  border-color: #fff;
  transition: border-color .4s;
  resize: vertical; /* ou 'none' se quiser impedir redimensionamento */
  min-height: 100px; /* altura inicial */
}

textarea:focus {
  outline: none;
  border-color: #000;
}


@media (max-width: 1200px) {

     .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

   
}

